
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin-top:20px;">
    <h3>Sertifka Ekleme Sayfası</h3>
</div>
<form method="post" class="form-group">
    <div style="margin-top:20px;">
        <label>Sertifika:</label>
        <input type="text" name="Sertifkaad" class="form-control" required="" />
    </div>
    <div style="margin-top:20px;">
        <label>Tarih:</label>
        <input type="text" name="Tarih" class="form-control" required="" />
    </div>
    <div style="margin-top:20px;">
        <button class="btn btn-primary"> Sertifka Ekle</button>
    </div>
</form>

