@model CvSitesi.Models.Entity.Tbl_Sosyalmedya
@{
    ViewBag.Title = "Detay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin-top:20px;">
    <h3>Sosyal Medya Detay Sayfası</h3>
</div>
<form class="form-group" >
    <div style="margin-top:20px;">
        <label>Sosyal Medya:</label>
        @Html.TextBoxFor(x => x.Iconad, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div style="margin-top:20px;">
        <label>Link:</label>
        @Html.TextBoxFor(x => x.Link, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div style="margin-top:20px;">
        <label>İkon:</label>
        @Html.TextBoxFor(x => x.Ikon, new { @class = "form-control", @readonly = "readonly" })
    </div>
    
</form>
