
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin-top:20px;">
    <h3>Sosyal Medya Ekleme Sayfası</h3>
</div>
<form class="form-group" method="post">
    <div style="margin-top:20px;">
        <label>Sosyal Medya:</label>
        <input type="text" name="Iconad" value="" class="form-control" required="" />
    </div>
    <div style="margin-top:20px;">
        <label>Link:</label>
        <input type="text" name="Link" value="" class="form-control" required="" />
    </div>
    <div style="margin-top:20px;">
        <label>İkon:</label>
        <input type="text" name="Ikon" value="" class="form-control" required="" />
    </div>
    <div style="margin-top:20px;">
        <button class="btn btn-primary">Sosyal Medya Ekle</button>
    </div>
</form>
